@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --brand: #0094e0;
  --brand-light: rgba(0, 148, 224, 0.1);
  --brand-hover: #007bb8;
}

html, body {
  height: 100%;
  margin: 0;
}


body {
  background-image: url('../assets/Gradient-Backgroud.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}